/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

 /*Classic theme restorer\Legacy*/
 
#appmenu_948622EF9DD31D8EC28360C72957C429_restartBrowser{
	list-style-image: url("chrome://R-M-F/skin/RMF_Sprite.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

/*Menu-Bar Tool-bar*/

#menu_948622EF9DD31D8EC28360C72957C429_restartBrowser{
	list-style-image: url("chrome://R-M-F/skin/RMF_Sprite.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

/*Tool-bar*/

#toolbar_948622EF9DD31D8EC28360C72957C429_restartBrowser{
	list-style-image: url("chrome://R-M-F/skin/RMF_Sprite.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

#toolbar_948622EF9DD31D8EC28360C72957C429_restartBrowser:not([cui-areatype="toolbar"])> .toolbarbutton-icon{
	list-style-image: url("chrome://R-M-F/skin/RMF_Sprite.png");
	-moz-image-region: rect(0px 72px 32px 40px);
}

#toolbar_948622EF9DD31D8EC28360C72957C429_restartBrowser:hover{
	list-style-image: url("chrome://R-M-F/skin/icon16h.png");
	-moz-transition-duration: 0.8s;	
}

/*Menu Panel*/

#toolbar_948622EF9DD31D8EC28360C72957C429_restartBrowser[cui-areatype="menu-panel"]{
	list-style-image: url("chrome://R-M-F/skin/RMF_Sprite.png");
	-moz-image-region: rect(0px 72px 32px 40px);
}

/* Don't show label on menu panel */
#panel_menu_948622EF9DD31D8EC28360C72957C429_restartBrowser > .toolbarbutton-text {
	display:none;
}

#panel_menu_948622EF9DD31D8EC28360C72957C429_restartBrowser{
	list-style-image: url("chrome://R-M-F/skin/RMF_Sprite.png");
	-moz-image-region: rect(0px 72px 32px 40px);
	min-width: 32px;
	box-sizing: border-box;
	-moz-appearance: none;
	box-shadow: none;
	border: none;  
	border-radius: 0;
	transition: background-color;
	-moz-box-orient: horizontal;	
}

#panel_menu_948622EF9DD31D8EC28360C72957C429_restartBrowser> .toolbarbutton-icon {
  -moz-margin-end: 0;
 } 

#panel_menu_948622EF9DD31D8EC28360C72957C429_restartBrowser:not([disabled]):hover {
	list-style-image: url("chrome://R-M-F/skin/icon32h.png");
	-moz-image-region: rect(0px 32px 32px 0px);
	-moz-transition-duration: 0.8s;
}

#panel_menu_948622EF9DD31D8EC28360C72957C429_restartBrowser[disabled] {
  opacity: 0.5;
}

/* Small Icon Override */
.rmf_small_icon{
	list-style-image: url("chrome://R-M-F/skin/RMF_Sprite.png")!important;
	-moz-image-region: rect(0px 16px 16px 0px)!important;
}
.rmf_small_icon:hover{
	list-style-image: url("chrome://R-M-F/skin/icon16h.png")!important;
	-moz-transition-duration: 0.8s!important;	
}